# Ignore model checkpoints and large outputs
models/
pretrained/
outputs/
logs/

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Environment files
*.env

# Raw data files
data/raw/Listing_Titles.tsv
